@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0
}

body, th, td, input, select, textarea, button {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif
}

.on {
    display: block
}

.off {
    display: none
}

::-webkit-input-placeholder {
    color: #959595
}

::selection {
    color: #fff;
    background: #c0392b
}

.button {
    padding: 6px 15px;
    border: none;
    border-radius: 1px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    cursor: pointer
}

.btn_red {
    color: #fff;
    background-color: #0775e1
}

.btn_red:hover, .btn_red:focus, .btn_red:active {
    border-color: #0775e1;
    color: #fff;
    background-color: #0a5eb2
}

.btn_green {
    float: right;
    color: #fff;
    background-color: #407a58
}

.btn_green:hover, .btn_green:focus, .btn_green:active {
    border-color: #709c82;
    color: #fff;
    background-color: #709c82
}

body {
    width: 400px;
    height: 300px;
    background-color: #fff
}

#header {
    position: relative;
    width: 100%;
    height: 28px;
    margin-bottom: 8px;
    border-top: 1px solid #434753;
    border-bottom: 1px solid #191b22;
    background-color: #2c3e50
}

#header h1 {
    padding: 4px 0 0 10px;
    font-size: 16px;
    color: #fff
}

#header .subtext {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 12px;
    color: #fff
}

#content {
    position: relative;
    width: 100%
}

#control {
    height: 32px;
    margin: 0 10px
}

#control #contBox {
    position: relative
}

#contBox .opt {
    display: block;
    position: absolute;
    top: 5px;
    left: 80px
}

#contBox .box {
    position: relative;
    margin-right: 3px;
    padding: 6px 5px 2px 2px;
    border: none;
    border-radius: 1px;
    color: #666;
)
}

#contBox .box .chk {
    margin-left: 5px
}

#contBox .box .label {
    line-height: 1.1;
    vertical-align: top
}

#control #msg .box {
    float: left;
    padding: 6px 15px;
    border: none;
    border-radius: 1px;
    line-height: 1.1;
    color: #fff;
    background-color: #9b59b6
}

#content .box {
    position: relative;
    padding: 0 10px
}

#content .box label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer
}

#content .box label.before {
    color: #1e5d85
}

#content .box label.after {
    color: #196f3d
}

#content .box em {
    display: block;
    margin-top: -1px;
    margin-bottom: 10px;
    padding: 5px 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px
}

#content .box em.before {
    color: #fff;
    background: #236d9d
}

#content .box em.after {
    color: #fff;
    background: #1d8248
}

#content textarea {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    padding: 6px;
    font-size: 14px;
    background-color: #fff;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical
}

#content .box textarea.before {
    border: 2px solid #236d9d
}

#content .box textarea.after {
    border: 2px solid #1d8248
}
